@import url(./__image/places__image.css);
@import url(./__info/places__info.css);
@import url(./__item/places__item.css);
@import url(./__link/places__link.css);
@import url(./__list/places__list.css);
@import url(./__paragraph/places__paragraph.css);
@import url(./__title/places__title.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__website/places__website.css);
.places {
  max-width: 984px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  .places {
    padding: 0 24px;
  }
}
@media screen and (max-width: 320px) {
  .places {
    padding: 0;
    margin-bottom: 64px;
  }
}
