@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__lang-list/header__lang-list.css);
@import url(./__logo/header__logo.css);
@import url(./__lang-item/header__lang-item.css);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 56px;
  flex-shrink: 0;
  max-width: 1184px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 28px 48px 48px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 48px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    padding: 16px 16px 48px;
  }

}
