.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 32px;
}
@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 42px;
    line-height: 1.1;
    padding: 0 16px 16px 16px;
  }
}
@media screen and (max-width: 768x) {
  .lead__title {
    font-size: 42px;
    line-height: 1.1;
    padding: 0 24px 32px 24px;
  }
}
@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    /* padding: 0 16px 16px 16px; */
    padding-bottom: 16px;
  }
}
