@import url(../footer/__copyright/footer__copyright.css);
@import url(../footer/__link-item/footer__link-item.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__links-list/footer__links-list.css);
.footer {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 0 48px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
  }
}
