.places__item {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .places__item {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}
@media screen and (max-width: 800px) {
  .places__item {
    margin-bottom: 72px;
    gap: 48px 28px;
    grid-template-columns: 340px 1fr;
  }
}
@media screen and (max-width: 600px) {
  .places__item {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
@media screen and (max-width: 320px) {
  .places__item {
    margin-bottom: 48px;
  }
}
